html{
  background-color: #ECF0F1;
}

div.calendar {
  width: 95%;
	margin: 40px auto 0;
}

#listing{
  width: 25%;
  height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
  margin-right: 20px;
  padding: 10px;
  border: 6px solid #2C3E50;
  background-color: #2C3E50;
}

.column{
  height: 750px;
  width: 12%;
  background-color: #95A5A6;
  border: 3px solid #2C3E50;
  float: left;
  margin: 10px 1%;
  border-radius: 6px;
}

.hotels{
	width: 99%;
  margin-bottom: 10px;
  background-color: #ECF0F1;
  overflow: hidden;
  border-radius: 4px;
}

.hotels .info {
  height: 150px;
  border: 3px solid #2C3E50;
}

.hotels img{
	height: 125px;
	width: 50%;
  float: left;
  margin: 10px;
}

.hotels .img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


.hotels .name{
  width: 100%;
  margin: 10px auto 5px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.hotels .description{
  font-size: 14px;
  margin: 0 5px;
  font-family: 'Oswald', sans-serif;
}

.hotels.picked_up {
  width: 100px;
  height: 100px;
  border: none;
}

.hotels.picked_up .description {
  display: none;
}

.hotels.picked_up img {
  display: none;

}

.hotels.dropped {
  width: 125px;
  /*height: 150px;*/
  margin: 5px auto;
}

.hotels.dropped .description {
  display: none;
}

.hotels.dropped img {
  width: 115px;
  height: 75px;
  margin: 5px;
}

.hotels.dropped .img{
  width: 125px;
}

.hotels.dropped .name{
  font-size: 17px;
}

.column p{
  font-size: 20px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#search{
  width: 50%;  
  height: 50px;
  margin: 40px 0 5px 60px;
}

#search_bar{
  height: 50px;
  width: 300px;
  border-radius: 5px;
  padding-left: 10px;
}

#search_button{
  height: 54px;
  width: 150px;
  margin-top: -1px;
  background-color: #2C3E50;
  color: #ECF0F1;
  border-radius: 5px;
}

#search_filters{
  width: 100%;
  float: left;
  margin-left: -20px;
}


#search_filters li{
  display: inline;
  list-style: none;
  background-color: #34495E;
  padding: 20px 30px;
  border-radius: 5px;
  color: #aaa;
  z-index: -1;
  cursor: pointer;
}

#search_filters .active{
  background-color: #2C3E50;
  color: #ECF0F1;
}

.hover_column{
  height: 750px;
  width: 12%;
  background-color: #ddd;
  border: 3px solid #2C3E50;
  float: left;
  margin: 10px 1%;
  border-radius: 6px;
}

