<form id="search" action='/calendar' method='POST'>
  <input id="search_bar" type="text" name="destination" placeholder="enter destination">
  <input id="search_button" type="submit" value="get a traveling">
</form>

<div class="calendar">
  <div id="search_filters">
    <ul>
      <li class="active">Hotels</li>
      <li>Activities</li>
      <li>Restaurants</li>
    </ul>
  </div>
  <div id="listing">
    <% @hotels.each do |hotel| %>
    <div class="hotels">
      <div class="img"><img src="http://<%=hotel.image_url%>"></div>
      <div class="info">
        <p class="name"><%= hotel.name %></p>
        <p class="description"><%= hotel.description %></p>
      </div>
    </div>
    <% end %>
  </div>
  <div class='column'><p>Monday</p>
  </div>
  <div class='column'><p>Tuesday</p>
  </div>
  <div class='column'><p>Wednesday</p>
  </div>
  <div class='column'><p>Thursday</p>
  </div>
  <div class='column'><p>Friday</p>
  </div>
</div>

